<link rel="stylesheet" href="css/homePage.css">
<div class="home-4xu" id="1:4">
    <div class="auto-group-ncqt-iGm" id="MDydb7CqQiDrxVxTEnCqT">
        <div class="auto-group-pukz-mVw" id="MDwWpJSZ1t1JRA3hDPukZ">
            <p class="logo-62R" id="1:1235">LOGO</p>
            <div class="auto-group-mlay-LxM" id="MDwnyWBc3ESQWYLnmmLay">
                <div class="group-8-shP" id="1:5">
                    <div class="group-6-QBX" id="1:6">
                        <div class="group-5-kFP" id="1:7">
                            <p class="d-game-dev-5oT" id="1:9">3D game Dev </p>
                            <p class="work-that-we-produce-for-our-clients-c2h" id="1:8">Work that we produce for our clients</p>
                        </div>
                        <p class="lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-Jw7" id="1:10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard.</p>
                    </div>
                    <div class="group-7-yGZ" id="1:11">Get more details</div>
                </div>
                <img class="joystick-1-Q6y" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:14"/>
                <div class="group-3-71P" id="1:16">
                    <div class="frame-1-Rnm" id="1:18">
                        <p class="home-Xqo" id="1:19">Home</p>
                        <p class="about-us-TzM" id="1:20">About us</p>
                        <p class="portfolio-BvM" id="1:21">Portfolio</p>
                        <p class="news-ivH" id="1:22">News</p>
                    </div>
                    <div class="group-1-fad" id="1:23">Contact us</div>
                </div>
                <img class="unreal-1-jqP" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:336"/>
                <img class="unity-1-TFb" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:337"/>
                <img class="cry-1-b6u" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:338"/>
                <div class="group-94-8Mj" id="1:353">
                    <div class="rectangle-27-Tuo" id="1:354"></div>
                    <div class="rectangle-28-oCy" id="1:355"></div>
                </div>
            </div>
        </div>
        <img class="pre-scene6-1-KBK" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:282"/>
        <div class="auto-group-qarq-REM" id="MDxiN8tWBb1j9TyYYqArq">
            <p class="currently-trending-games-wTb" id="1:250">Currently Trending Games</p>
            <div class="group-88-Fz5" id="1:251">SEE ALL</div>
        </div>
        <div class="auto-group-1tl9-jPT" id="MDxuGzNgJBSTEJDUq1TL9">
            <img class="rectangle-23-3uw" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:254"/>
            <img class="rectangle-24-nMj" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:255"/>
            <img class="rectangle-25-KMf" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:256"/>
            <img class="rectangle-26-EzR" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:257"/>
        </div>
        <div class="auto-group-qluj-yh7" id="MDy5grh9f5mcqTVsqqLuj">
            <div class="group-89-6Wq" id="1:258">
                <img class="fire-1-e2Z" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:260"/>
                <p class="followers-krH" id="1:259">40 Followers</p>
            </div>
            <div class="group-90-HrD" id="1:264">
                <img class="fire-1-eAy" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:266"/>
                <p class="followers-mmP" id="1:265">40 Followers</p>
            </div>
            <div class="group-91-Wiy" id="1:270">
                <img class="fire-1-fLy" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:272"/>
                <p class="followers-bEd" id="1:271">40 Followers</p>
            </div>
            <div class="group-92-8kM" id="1:276">
                <img class="fire-1-gms" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:278"/>
                <p class="followers-pdB" id="1:277">40 Followers</p>
            </div>
        </div>
        <p class="lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-N8u" id="1:26">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="auto-group-fxrk-EB7" id="MDyPM1wJwWVQMrfbCFxRK">
            <div class="group-11-Ljw" id="1:27">
                <p class="lorem-ipsum-tWZ" id="1:28">Lorem Ipsum</p>
                <p class="lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-DHw" id="1:29">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s,</p>
            </div>
            <img class="group-21-Gn1" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:30"/>
            <div class="rectangle-4-zxu" id="1:130"></div>
        </div>
    </div>
    <div class="group-87-GvR" id="1:131">
        <img class="db4d123c4b390965f684f22d4bf13849-1-1d7" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:132"/>
        <div class="rectangle-5-jZ7" id="1:133"></div>
        <div class="group-38-Tk1" id="1:134">
            <div class="group-22-PtZ" id="1:135">
                <p class="lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-vdb" id="1:136">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p class="lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-Dch" id="1:137">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s,</p>
            </div>
            <div class="group-36-tyj" id="1:138">
                <div class="group-35-rff" id="1:139">
                    <div class="group-34-CUd" id="1:140">
                        <div class="group-48-Y2h" id="1:147">
                            <img class="smartphone-2-1-rJH" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:149"/>
                        </div>
                        <div class="group-25-MVw" id="1:141">
                            <p class="mobile-game-development-Jg5" id="1:142">Mobile Game Development</p>
                            <img class="arrow-1-puK" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:143"/>
                        </div>
                    </div>
                    <div class="group-31-xEq" id="1:159">
                        <div class="group-49-6M3" id="1:166">
                            <img class="pc-1-c4V" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:168"/>
                        </div>
                        <div class="group-26-XhF" id="1:160">
                            <p class="pc-game-development-gq3" id="1:161">PC Game Development</p>
                            <img class="arrow-2-cyb" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:162"/>
                        </div>
                    </div>
                    <div class="group-32-AER" id="1:182">
                        <div class="group-50-7QZ" id="1:189">
                            <img class="ps4-1-2nR" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:191"/>
                        </div>
                        <div class="group-27-Adj" id="1:183">
                            <p class="ps4-game-development-XDP" id="1:184">PS4 Game Development</p>
                            <img class="arrow-3-4UD" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:185"/>
                        </div>
                    </div>
                    <div class="group-33-oRo" id="1:201">
                        <div class="group-51-LwX" id="1:208">
                            <img class="vr-glasses-1-rQ5" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:210"/>
                        </div>
                        <div class="group-28-nYd" id="1:202">
                            <p class="ar-vr-solutions-wgR" id="1:203">AR/VR Solutions</p>
                            <img class="arrow-4-UAZ" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:204"/>
                        </div>
                    </div>
                </div>
                <div class="group-37-oTj" id="1:214">
                    <div class="group-30-voF" id="1:215">
                        <div class="group-52-fkq" id="1:222">
                            <img class="desktop-1-1-PB3" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:224"/>
                        </div>
                        <div class="group-24-iDK" id="1:216">
                            <p class="ar-vr-design-sc1" id="1:217">AR/ VR design</p>
                            <img class="arrow-5-bnu" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:218"/>
                        </div>
                    </div>
                    <div class="group-29-93j" id="1:233">
                        <div class="group-53-JBX" id="1:240">
                            <img class="d-cube-1-QEZ" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:242"/>
                        </div>
                        <div class="group-23-vTo" id="1:234">
                            <p class="d-modelings-HZF" id="1:235">3D Modelings</p>
                            <img class="arrow-6-213" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:236"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rectangle-21-YVB" id="1:246"></div>
        <div class="group-93-3B3" id="1:247">SEE ALL</div>
        <div class="group-86-uU9" id="1:283">
            <div class="group-55-QQu" id="1:284">
                <p class="our-recent-projects-qFK" id="1:285">Our Recent Projects</p>
                <p class="lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-kNH" id="1:286">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </div>
            <div class="auto-group-bhuq-eTf" id="ME2RLo1vZTv6iEZFubHUq">
                <div class="rectangle-15-nJy" id="1:287"></div>
                <div class="rectangle-16-VjB" id="1:288"></div>
                <div class="rectangle-17-RMw" id="1:289"></div>
            </div>
            <div class="auto-group-dcgd-w5P" id="ME2YWFkL2Nd8DXcehdcGD">
                <div class="rectangle-19-TZX" id="1:292"></div>
                <div class="rectangle-18-ZsT" id="1:290"></div>
                <div class="rectangle-20-tPw" id="1:291"></div>
            </div>
        </div>
        <div class="footer-zhs" id="1:293">
            <div class="rectangle-21-jQZ" id="1:294"></div>
            <div class="group-84-Ud3" id="1:296">
                <div class="auto-group-7qsy-Qmb" id="ME2sfNVbZsdbAweyr7QSy">
                    <div class="group-71-9UH" id="1:299">
                        <div class="auto-group-zued-UWZ" id="ME32jwhXaw3GAyic9zued">
                            <p class="lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Q9K" id="1:300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            <p class="logo-h8R" id="1:302">@Logo</p>
                        </div>
                        <div class="auto-group-des7-E8M" id="ME37uTm835N3mawqtdes7">
                            <p class="about-us-z7X" id="1:329">About us</p>
                            <p class="zeux-portfolio-careers-contact-us-7C9" id="1:301">
                                Zeux

                                <br/>
                                Portfolio

                                <br/>
                                <br/>
                                Careers

                                <br/>
                                <br/>
                                Contact us

                            </p>
                        </div>
                        <div class="auto-group-jbgz-EGm" id="ME3DjdNzA99afknTyjbGZ">
                            <div class="group-70-mnV" id="1:330">
                                <p class="contact-us-75f" id="1:333">Contact us</p>
                                <p class="lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-qnM" id="1:331">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <p class="item-908-89097-890-Ygm" id="1:332">+908 89097 890</p>
                            </div>
                            <div class="group-12-fmP" id="1:303">
                                <img class="group-5-nLD" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:304"/>
                                <img class="group-11-ijf" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:308"/>
                                <img class="group-10-s6m" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:315"/>
                                <img class="group-9-QsP" src="/api/try-prod-us-east-2-first-cluster/projects/XTZ..." id="1:322"/>
                            </div>
                        </div>
                    </div>
                    <div class="line-1-LFF" id="1:334"></div>
                </div>
                <p class="copyright-2021-lorem-all-rights-rcerved-rjP" id="1:335">Copyright ® 2021 Lorem All rights Rcerved</p>
            </div>
            <p class="logo-kpm" id="1:1240">LOGO</p>
        </div>
        <div class="group-56-4aZ" id="1:339">
            <div class="group-39-zj7" id="1:340">
                <p class="lorem-ipsum-wuF" id="1:341">Lorem Ipsum</p>
                <p class="lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-5kZ" id="1:342">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </div>
            <div class="group-41-nQ5" id="1:343">
                <div class="group-39-VZP" id="1:345">
                    <p class="stay-in-the-loop-3au" id="1:346">Stay in the loop</p>
                    <p class="subscribe-to-receive-the-latest-news-and-updates-about-tda-we-promise-not-to-spam-you-nHb" id="1:347">
                        Subscribe to receive the latest news and updates about TDA.

                        <br/>
                        We promise not to spam you!

                    </p>
                </div>
                <div class="group-40-4F7" id="1:348">
                    <p class="enter-email-address-kNq" id="1:352">Enter email address</p>
                    <div class="auto-group-6dky-3cq" id="ME488HkUo7XnMLW9E6dky">Continue</div>
                </div>
            </div>
        </div>
    </div>
</div>