<div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
</div>

<h1>Game Shop - Order Details</h1>

<div class="cardHolder" >
    <div class="game-card" th:each="game : ${order?.games}">
        <img th:src="${game?.gamePoster}" alt="Game 1">
        <div class="game-details">
            <h3 th:text="${game?.title}"></h3>
            <p><strong>Price: </strong> <span th:text="${game?.price}"></span> </p>
        </div>
    </div>
</div>

<!-- Add more divs for each game in the order -->

<div class="order_customer_info">
    <h2>Order Information</h2>
    <p><strong>Order ID: </strong> <span th:text="${order?.orderId}"></span></p>
    <p><strong>Order Date: </strong> <span th:text="${order?.orderDate}"></span> </p>
    <p><strong>Total Amount: </strong> <span th:text="${order?.totalAmount}"></span></p>
    <p><strong>Payment Status: </strong><span th:text="${order?.paymentStatus}"></span></p>
    <br>
    <h2>Customer Information</h2>
    <p><strong>Customer Name: </strong> <span th:text="${order?.user?.name}"></span> </p>
    <div class="buttons">
        <form th:action="@{'/order/clear'}" th:method="POST" id="clear_order">
            <button class="btn btn-primary">Clear order</button>
        </form>
        <button class="btn btn-primary" id="purchaseButton" th:if="${errorMessage == null}">Purchase</button>
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Purchase Successful</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your purchase was successful!</p>
            </div>
            <div class="modal-footer">
                <form th:action="@{'/order/pay'}" th:method="POST" data-dismiss="modal">
                    <button class="btn btn-primary">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>


<style>
    section {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 20px;
        background-color: #f4f4f4;
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two equal columns */
        gap: 20px;
    }

    h1 {
        color: #333;
        grid-column: span 2; /* Spanning both columns */
    }

    .order_customer_info {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .game-card {
        display: flex;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        max-width: 450px;
    }
    .game-card img{
        max-height: 200px;
    }

    .game-card:hover {
        transform: scale(1.02);
    }

    .game-card img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .buttons{
        display: flex;
        justify-content: center;
        gap: 10px;

    }

    h3 {
        color: #333;
    }

    p {
        color: #555;
    }

    strong {
        color: #222;
    }
    #clear_order{
        text-align: center;
    }
</style>

<script>
    // Your custom script for showing the success modal
    document.getElementById('purchaseButton').addEventListener('click', function() {
        // Show the success modal
        $('#successModal').modal('show');
    });
</script>


